<!-- src/app/admin/competencies/competencies.component.html -->
<div class="competencies-container">
  <h2>Список компетенций</h2>
  <button mat-raised-button (click)="openDialog()">Добавить компетенцию</button>

  <div *ngIf="competencies.length === 0" class="no-data">
    <p>Нет данных</p>
  </div>

  <div *ngIf="competencies.length > 0" class="competencies-list">
    <ul>
      <li *ngFor="let competency of competencies" class="competency-item">
        <div class="competency-info">
          <span>ID: {{ competency.id }}</span>
          <span>Название: {{ competency.name }}</span>
        </div>
        <div class="competency-actions">
          <button mat-icon-button (click)="openDialog(competency)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCompetency(competency.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
